<%var path="/resource";%>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>APP介绍</title>
<body>
<div class="top_title fix">
         <a  href="/wap/showsetting/setting">
		<div class="top_return">
			<img src="${path}/wap/images/top_return.png"/>
		</div>
		</a>
		APP介绍
	</div>
<img src="${path}/wap/images/index27.jpg" class="wenzhangMaximg">
<div class="wenzhang-text">
    <p>北京经开投资开发股份有限公司成立于2000年9月，是经北京市人民政府批准设立的以高端产业园区开发和运营为主业，兼顾高新技术产业投资的大型股份制园区开发企业。</p>
    <p>北京经开成立之日，就承担着建设北京东南部产业发展带的重大使命，担负着打造高端产业平台，服务区域经济发展的功能。近年来，公司在立足北京经济技术开发区的基础上积极向周边地区发展，目前已经在北京通州新城、天津滨海新区和内蒙古自治区呼和浩特市建立子公司并积极拓展业务。截至2011年底，公司经过两次增资扩股，已经发展成为一家注册资本10亿元人民币，信用等级为AA级的大型企业，在产业地产行业内拥有广泛的知名度和美誉度。北京经开成立之日，就承担着建设北京东南部产业发展带的重大使命，担负着打造高端产业平台，服务区域经济发展的功能。近年来，公司在立足北京经济技术开发区的基础上积极向周边地区发展，目前已经在北京通州新城、天津滨海新区和内蒙古自治区呼和浩特市建立子公司并积极拓展业务。</p>
</div>
</body>
