<%var path="/resource";%>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>可领取店铺优惠券</title>
<script src="${path}/wap/js/coupon/Coupon.js"></script>
<script type="text/javascript" src="${path}/wap/js/login.js"></script>
</head>
<body class="paswrd_gai" id="ceshi">
<div class="top_title fix">
         <a  href="/wap/index.html">
		<div class="top_return">
			<img src="${path}/wap/images/top_return.png"/>
		</div>
		</a>
		可领取店铺优惠券
	</div>
<%if(!isEmpty(coupon)){%>
<ul class="youhui-quan" id="coupon">
<%for(coupons in coupon){%>
 <li>
  	<a href="javascript:void()" name="coupon" >
            <h3><font>￥</font><%if(coupons.facevalue !=null){%>${coupons.facevalue}<%}%><span> <%if(coupons.fullreductionvalue !=null){%> 满${coupons.fullreductionvalue}可用 <%}%></span></h3>
            <div value="${coupons.id}"><b><%if(coupons.couponname != null){%> ${coupons.couponname} <%}%></b>有效期：<%if(coupons.providetime !=null && coupons.endtime != null){%> ${coupons.providetime,dateFormat="yyyy-MM-dd"}--${coupons.endtime,dateFormat="yyyy-MM-dd"}<%}%></div>
           
        </a>
    </li>
<%}%>
</ul>
<%}else{%>
<div>没有优惠券</div>
<%}%>
<script type="text/javascript">
     $(document).ready(function(){
    	$("a[name='coupon']").click(function(){
    		if(	login.isLogin()){ 
    			//var  couponid = $("a[name='coupon']").attr("value");
        		var id =$(this).find("div").attr("value");
        		AddCoupon.add(id);
    		}
    		else{
    			location.href = "/wap/user/showlogin";	
    		}

    		
    		
    		 
    	 })
     })
</script>
</body>
