<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的余额</title>
</head>
<body>
	<!--top_title  begin-->
	<div class="top_title fix">
		<div class="top_return" onclick="location.href='/wap/userinfo/homepage?ch=3'">
			<img src="/resource/wap/images/top_return.png"/>
		</div>
		我的余额
	</div>
	<!--top_title  stop-->
	<div class="kjzfcon fix">
		<div class="kjzfconmk fix">
			<span class="huise">当前金额</span>
			<div class="red floatr">${price}元</div>
		</div>
	</div>
	
</body>
</html>