		<script>
		$(function(){
			var dis=${dis!1};
			$(".l_alltop").find("i").eq(dis).addClass("red");
		})		
		</script>
			<div class="l_alltop fix l_bjlsyz" style="position: relative;">
			<a href="${phref!'/wap/index.html'}"><span><img src="/resource/wap/images/tp10.png"class="img-responsive l_maxwid"></span></a>
			<i><a href="/wap/products/proDetail.html?spuid=${spuid}&skuid=${skuid}">商品</a></i>
			<i><a href="/wap/products/showProInfo.html?spuid=${spuid}&skuid=${skuid}&shopid=${shopid}">详情</a></i>
			<i><a href="/wap/products/showProCommen.html?spuid=${spuid}&skuid=${skuid}&shopid=${shopid}">评价</a></i>
			<div class="floatright l_llzj">
				<a href="#"></a>
			</div>
			<div class="floatright l_fxtbks">
				<a href="#"></a>
			</div>
			<!--<div class=" l_fxjtxm"><img src="/images/tp29.png" class="img-responsive"></div> -->
			<!--l_fxtbkscon  begin -->
			<div class="l_fxtbkscon fix" style="display: none;">
				<ul class="fix">
					<li><a href="javascript:void(0)"> <span><img
								src="/resource/wap/images/fx01.png" class="img-responsive"></span>
							<div>分享</div>
					</a></li>
					<li><a href="javascript:void(0)"> <span><img
								src="/resource/wap/images/fx02.png" class="img-responsive"></span>
							<div>搜索</div>
					</a></li>
					<li><a href="javascript:void(0)"> <span><img
								src="/resource/wap/images/fx03.png" class="img-responsive"></span>
							<div>首页</div>
					</a></li>
				</ul>
			</div>
			<!--l_fxtbkscon  stop -->
		</div>