<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinlian.wssc.web.mapper.BrowsehistoryMapper" >
  <resultMap id="BaseResultMap" type="com.yinlian.wssc.web.po.Browsehistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="UserID" property="userid" jdbcType="INTEGER" />
    <result column="SPUID" property="spuid" jdbcType="INTEGER" />
    <result column="ChannelType" property="channeltype" jdbcType="INTEGER" />
    <result column="BrowseTime" property="browsetime" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="VaildFlag" property="vaildflag" jdbcType="INTEGER" />
    <result column="DelDate" property="deldate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, UserID, SPUID, ChannelType, BrowseTime, CreateTime, VaildFlag, DelDate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yinlian.wssc.web.po.BrowsehistoryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from browsehistory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from browsehistory
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from browsehistory
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yinlian.wssc.web.po.BrowsehistoryExample" >
    delete from browsehistory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yinlian.wssc.web.po.Browsehistory" >
    insert into browsehistory (ID, UserID, SPUID, 
      ChannelType, BrowseTime, CreateTime, 
      VaildFlag, DelDate)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{spuid,jdbcType=INTEGER}, 
      #{channeltype,jdbcType=INTEGER}, #{browsetime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, 
      #{vaildflag,jdbcType=INTEGER}, #{deldate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yinlian.wssc.web.po.Browsehistory" >
    insert into browsehistory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="spuid != null" >
        SPUID,
      </if>
      <if test="channeltype != null" >
        ChannelType,
      </if>
      <if test="browsetime != null" >
        BrowseTime,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="vaildflag != null" >
        VaildFlag,
      </if>
      <if test="deldate != null" >
        DelDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="spuid != null" >
        #{spuid,jdbcType=INTEGER},
      </if>
      <if test="channeltype != null" >
        #{channeltype,jdbcType=INTEGER},
      </if>
      <if test="browsetime != null" >
        #{browsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="vaildflag != null" >
        #{vaildflag,jdbcType=INTEGER},
      </if>
      <if test="deldate != null" >
        #{deldate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yinlian.wssc.web.po.BrowsehistoryExample" resultType="java.lang.Integer" >
    select count(*) from browsehistory
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update browsehistory
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        UserID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.spuid != null" >
        SPUID = #{record.spuid,jdbcType=INTEGER},
      </if>
      <if test="record.channeltype != null" >
        ChannelType = #{record.channeltype,jdbcType=INTEGER},
      </if>
      <if test="record.browsetime != null" >
        BrowseTime = #{record.browsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vaildflag != null" >
        VaildFlag = #{record.vaildflag,jdbcType=INTEGER},
      </if>
      <if test="record.deldate != null" >
        DelDate = #{record.deldate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update browsehistory
    set ID = #{record.id,jdbcType=INTEGER},
      UserID = #{record.userid,jdbcType=INTEGER},
      SPUID = #{record.spuid,jdbcType=INTEGER},
      ChannelType = #{record.channeltype,jdbcType=INTEGER},
      BrowseTime = #{record.browsetime,jdbcType=TIMESTAMP},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      VaildFlag = #{record.vaildflag,jdbcType=INTEGER},
      DelDate = #{record.deldate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinlian.wssc.web.po.Browsehistory" >
    update browsehistory
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="spuid != null" >
        SPUID = #{spuid,jdbcType=INTEGER},
      </if>
      <if test="channeltype != null" >
        ChannelType = #{channeltype,jdbcType=INTEGER},
      </if>
      <if test="browsetime != null" >
        BrowseTime = #{browsetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="vaildflag != null" >
        VaildFlag = #{vaildflag,jdbcType=INTEGER},
      </if>
      <if test="deldate != null" >
        DelDate = #{deldate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinlian.wssc.web.po.Browsehistory" >
    update browsehistory
    set UserID = #{userid,jdbcType=INTEGER},
      SPUID = #{spuid,jdbcType=INTEGER},
      ChannelType = #{channeltype,jdbcType=INTEGER},
      BrowseTime = #{browsetime,jdbcType=TIMESTAMP},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      VaildFlag = #{vaildflag,jdbcType=INTEGER},
      DelDate = #{deldate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <!-- 查询会员浏览记录明细 -->
  <select id="selectDetailByUserId" resultType="browseHistoryDto" parameterType="integer">
  	select  p.id spuid, p.ImgUrl imgurl,p.name spuname,b.createtime createtime,p.Price price,b.id id,COUNT(distinct p.id)
    from browsehistory b,spu p
    where p.id = b.spuid and b.userid =#{userid} GROUP BY p.id
    order by b.BrowseTime desc
  	<!-- select distinct p.id spuid, p.ImgUrl_App imgurl,p.name spuname,b.createtime createtime,p.Price price,b.id id
    from browsehistory b,spu p
    where p.id = b.spuid and b.userid = #{userid} order by b.BrowseTime desc -->
  </select>
     <!-- 以下是自定义的 接口 分页查询 -->
   <sql id="criteria_query">
   <where>
     u.id = b.userid  and  s.id = b.spuid   
    <if test="criteria.username != null and criteria.username != '' ">
     and u.username = #{criteria.username}
     </if>
	 and b.vaildflag = 0
	
     </where> 
  </sql>
   <select id="selectBrowsehistoryByPage" parameterType="com.yinlian.wssc.web.util.PageBeanUtil" resultType="browseHistoryDto">
     select b.userid userid ,u.username username,b.channeltype channeltype,b.createtime createtime,s.name spuname,s.imgurl imgurl
     from browsehistory b,users u ,spu s 
     <if test="criteria != null ">
     <include refid="criteria_query"/> 
     </if>
     <if test="criteria.orderByClause != null and criteria.orderByClause != '' " >
      order by ${criteria.orderByClause} ${criteria.sort}  <!-- 排序不为空 就排序     此处只能使用${} 而不能使用#{} 会设置参数失败 -->
    </if>
  </select>
  
</mapper>