<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinlian.wssc.web.mapper.IdcardinfoMapper" >
  <resultMap id="BaseResultMap" type="com.yinlian.wssc.web.po.Idcardinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="card" property="card" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="groupcode" property="groupcode" jdbcType="VARCHAR" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
    <result column="deltime" property="deltime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, name, phone, card, createtime, groupcode, isdel, deltime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yinlian.wssc.web.po.IdcardinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from idcardinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from idcardinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from idcardinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yinlian.wssc.web.po.IdcardinfoExample" >
    delete from idcardinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yinlian.wssc.web.po.Idcardinfo" >
    insert into idcardinfo (id, userid, name, 
      phone, card, createtime, 
      groupcode, isdel, deltime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{card,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{groupcode,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}, #{deltime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yinlian.wssc.web.po.Idcardinfo" >
    insert into idcardinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="card != null" >
        card,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="groupcode != null" >
        groupcode,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="deltime != null" >
        deltime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        #{card,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupcode != null" >
        #{groupcode,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="deltime != null" >
        #{deltime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yinlian.wssc.web.po.IdcardinfoExample" resultType="java.lang.Integer" >
    select count(*) from idcardinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update idcardinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.card != null" >
        card = #{record.card,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.groupcode != null" >
        groupcode = #{record.groupcode,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null" >
        isdel = #{record.isdel,jdbcType=INTEGER},
      </if>
      <if test="record.deltime != null" >
        deltime = #{record.deltime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update idcardinfo
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      card = #{record.card,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      groupcode = #{record.groupcode,jdbcType=VARCHAR},
      isdel = #{record.isdel,jdbcType=INTEGER},
      deltime = #{record.deltime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinlian.wssc.web.po.Idcardinfo" >
    update idcardinfo
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        card = #{card,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="groupcode != null" >
        groupcode = #{groupcode,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="deltime != null" >
        deltime = #{deltime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinlian.wssc.web.po.Idcardinfo" >
    update idcardinfo
    set userid = #{userid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      groupcode = #{groupcode,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER},
      deltime = #{deltime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="checkcardinfo" parameterType="com.yinlian.wssc.search.IdCardCriteria"
  		resultType="java.lang.Integer">
  	SELECT
	sum(od.ProductCount) as count
	from orderdetail od
	left join orders o on od.OrderID = o.ID
	where od.VaildFlag = 0 and o.ValidFlag = 0 and o.status > 0
	<if test="criteria.userid != null and criteria.userid > 0 ">
		and od.BuyerID = #{criteria.userid}
	</if>
	<if test="criteria.idcard != null and criteria.idcard != '' ">
		and od.idcard = #{criteria.idcard}
	</if>
	<if test="criteria.begintime != null and criteria.begintime != ''">
		<![CDATA[ and o.AddOrderDate >= #{criteria.begintime } ]]>
	</if>
	<if test="criteria.endtime != null and criteria.endtime != ''">
		<![CDATA[ and o.AddOrderDate <= #{criteria.endtime } ]]>
	</if>
  </select>
  
  <select id="getByGroupCode" parameterType="java.lang.String"
  		resultType="com.yinlian.wssc.web.po.Idcardinfo">
  	select 
    <include refid="Base_Column_List" />
    from idcardinfo
    where groupcode = #{0}
    limit 1
  </select>
  
  <select id="quertByUserId" parameterType="java.lang.Integer" resultType="com.yinlian.wssc.web.po.Idcardinfo">
  	SELECT
	DISTINCT card,
	name,
	phone
	from idcardinfo
	where isdel = 0 and userid = #{0} ORDER BY createtime DESC 
  </select>
  
  <update id="delCardInfo" parameterType="com.yinlian.wssc.web.po.Idcardinfo">
  	update idcardinfo set
  	isdel = #{isdel,jdbcType=INTEGER},
  	deltime = #{deltime,jdbcType=TIMESTAMP}
  	where userid = #{userid,jdbcType=INTEGER}
  	and card = #{card,jdbcType=VARCHAR}
  </update>
</mapper>