<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinlian.wssc.web.mapper.OperaterecordsMapper" >
  <resultMap id="BaseResultMap" type="com.yinlian.wssc.web.po.Operaterecords" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="Type" property="type" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="INTEGER" />
    <result column="UserID" property="userid" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="UserIP" property="userip" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Page" property="page" jdbcType="VARCHAR" />
    <result column="InterfaceName" property="interfacename" jdbcType="VARCHAR" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, Type, source, UserID, UserName, UserIP, CreateTime, Page, InterfaceName, Description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yinlian.wssc.web.po.OperaterecordsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operaterecords
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operaterecords
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operaterecords
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByExample" parameterType="com.yinlian.wssc.web.po.OperaterecordsExample" >
    delete from operaterecords
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yinlian.wssc.web.po.Operaterecords" >
    insert into operaterecords (ID, Type, source, 
      UserID, UserName, UserIP, 
      CreateTime, Page, InterfaceName, 
      Description)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{source,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userip,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{page,jdbcType=VARCHAR}, #{interfacename,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yinlian.wssc.web.po.Operaterecords" >
    insert into operaterecords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="type != null" >
        Type,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="userip != null" >
        UserIP,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="page != null" >
        Page,
      </if>
      <if test="interfacename != null" >
        InterfaceName,
      </if>
      <if test="description != null" >
        Description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userip != null" >
        #{userip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="page != null" >
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="interfacename != null" >
        #{interfacename,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yinlian.wssc.web.po.OperaterecordsExample" resultType="java.lang.Integer" >
    select count(*) from operaterecords
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operaterecords
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        Type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        UserID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        UserName = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.userip != null" >
        UserIP = #{record.userip,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.page != null" >
        Page = #{record.page,jdbcType=VARCHAR},
      </if>
      <if test="record.interfacename != null" >
        InterfaceName = #{record.interfacename,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        Description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operaterecords
    set ID = #{record.id,jdbcType=INTEGER},
      Type = #{record.type,jdbcType=INTEGER},
      source = #{record.source,jdbcType=INTEGER},
      UserID = #{record.userid,jdbcType=INTEGER},
      UserName = #{record.username,jdbcType=VARCHAR},
      UserIP = #{record.userip,jdbcType=VARCHAR},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      Page = #{record.page,jdbcType=VARCHAR},
      InterfaceName = #{record.interfacename,jdbcType=VARCHAR},
      Description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yinlian.wssc.web.po.Operaterecords" >
    update operaterecords
    <set >
      <if test="type != null" >
        Type = #{type,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userip != null" >
        UserIP = #{userip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="page != null" >
        Page = #{page,jdbcType=VARCHAR},
      </if>
      <if test="interfacename != null" >
        InterfaceName = #{interfacename,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yinlian.wssc.web.po.Operaterecords" >
    update operaterecords
    set Type = #{type,jdbcType=INTEGER},
      source = #{source,jdbcType=INTEGER},
      UserID = #{userid,jdbcType=INTEGER},
      UserName = #{username,jdbcType=VARCHAR},
      UserIP = #{userip,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      Page = #{page,jdbcType=VARCHAR},
      InterfaceName = #{interfacename,jdbcType=VARCHAR},
      Description = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  	<!-- 以下是自定义的 接口 分页查询 -->
	<sql id="criteria_query">
		<where>
			<if test="criteria.type != null and criteria.type >=0 ">
				and Type = #{criteria.type}
			</if>
			<if test="criteria.description != null and criteria.description != '' ">
				and Description like '%${criteria.description}%'
			</if>
			<if test="criteria.scoure != null and criteria.scoure >=0 ">
				and source = #{criteria.scoure}
			</if>
			<if test="criteria.userid != null and criteria.userid >=0 ">
				and UserID = #{criteria.userid}
			</if>
			<if test="criteria.beginTime != null and criteria.beginTime != ''">
			 <![CDATA[ and DATEDIFF(createTime,#{criteria.beginTime})<=0]]>
			</if>
			<if test="criteria.endTime!=null and criteria.endTime != ''">
			<![CDATA[ and DATEDIFF(createTime,#{criteria.endTime})>=0]]>
			</if>
			<if test="criteria.time!=null and criteria.time != ''">
			<![CDATA[ or DATEDIFF(createTime,#{criteria.time})==0]]>
				<!-- or createTime = #{criteria.time} -->
			</if>
		</where>
	</sql>
	
	<select id="getRecordsByPage" parameterType="com.yinlian.wssc.web.util.PageBeanUtil"
		resultType="com.yinlian.wssc.web.po.Operaterecords">
		 select  ID, Type, source, UserID, UserName, UserIP, CreateTime, Page, InterfaceName, Description 
		 from operaterecords
		 <if test="criteria != null ">
			<include refid="criteria_query" />
		</if>
		<if test="criteria.orderByClause != null and criteria.orderByClause != '' ">
			order by ${criteria.orderByClause} ${criteria.sort}  <!-- 排序不为空 就排序 此处只能使用${} 
				而不能使用#{} 会设置参数失败 -->
		</if>
	</select>
	
	
	  <delete id="deleteAll" parameterType="com.yinlian.wssc.web.util.CriteriaOperater" >
    	delete from operaterecords
  		  <if test="criteria != null ">
			<include refid="criteria_query" />
		</if>
  	</delete>
</mapper>