<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yinlian.wssc.web.mapper.OrderactivityChildHistoryMapper">
	<resultMap id="BaseResultMap"
		type="com.yinlian.wssc.web.po.OrderactivityChildHistory">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="SkuId" property="skuid" jdbcType="INTEGER" />
		<result column="SkuName" property="skuname" jdbcType="VARCHAR" />
		<result column="CouponId" property="couponid" jdbcType="INTEGER" />
		<result column="OrderCode" property="ordercode" jdbcType="VARCHAR" />
		<result column="OahId" property="oahid" jdbcType="VARCHAR" />
		<result column="Status" property="status" jdbcType="INTEGER" />
		<result column="Point" property="point" jdbcType="INTEGER" />
		<result column="Count" property="count" jdbcType="INTEGER" />
		<result column="SkuPrice" property="skuprice" jdbcType="REAL" />
		<result column="Type" property="type" jdbcType="INTEGER" />
		<result column="ActId" property="actid" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		Id, SkuId, SkuName, CouponId, OrderCode, OahId, Status, Point, Count,
		SkuPrice, Type,
		ActId
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.yinlian.wssc.web.po.OrderactivityChildHistoryExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from orderactivity_child_history
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from orderactivity_child_history
		where Id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from orderactivity_child_history
		where Id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.yinlian.wssc.web.po.OrderactivityChildHistoryExample">
		delete from orderactivity_child_history
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.yinlian.wssc.web.po.OrderactivityChildHistory">
		insert into orderactivity_child_history (Id, SkuId, SkuName,
		CouponId, OrderCode, OahId,
		Status, Point, Count,
		SkuPrice, Type, ActId)
		values (#{id,jdbcType=INTEGER}, #{skuid,jdbcType=INTEGER},
		#{skuname,jdbcType=VARCHAR},
		#{couponid,jdbcType=INTEGER}, #{ordercode,jdbcType=VARCHAR}, #{oahid,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}, #{point,jdbcType=INTEGER},
		#{count,jdbcType=INTEGER},
		#{skuprice,jdbcType=REAL}, #{type,jdbcType=INTEGER}, #{actid,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.yinlian.wssc.web.po.OrderactivityChildHistory">
		insert into orderactivity_child_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="skuid != null">
				SkuId,
			</if>
			<if test="skuname != null">
				SkuName,
			</if>
			<if test="couponid != null">
				CouponId,
			</if>
			<if test="ordercode != null">
				OrderCode,
			</if>
			<if test="oahid != null">
				OahId,
			</if>
			<if test="status != null">
				Status,
			</if>
			<if test="point != null">
				Point,
			</if>
			<if test="count != null">
				Count,
			</if>
			<if test="skuprice != null">
				SkuPrice,
			</if>
			<if test="type != null">
				Type,
			</if>
			<if test="actid != null">
				ActId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="skuid != null">
				#{skuid,jdbcType=INTEGER},
			</if>
			<if test="skuname != null">
				#{skuname,jdbcType=VARCHAR},
			</if>
			<if test="couponid != null">
				#{couponid,jdbcType=INTEGER},
			</if>
			<if test="ordercode != null">
				#{ordercode,jdbcType=VARCHAR},
			</if>
			<if test="oahid != null">
				#{oahid,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="point != null">
				#{point,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				#{count,jdbcType=INTEGER},
			</if>
			<if test="skuprice != null">
				#{skuprice,jdbcType=REAL},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="actid != null">
				#{actid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.yinlian.wssc.web.po.OrderactivityChildHistoryExample"
		resultType="java.lang.Integer">
		select count(*) from orderactivity_child_history
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update orderactivity_child_history
		<set>
			<if test="record.id != null">
				Id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.skuid != null">
				SkuId = #{record.skuid,jdbcType=INTEGER},
			</if>
			<if test="record.skuname != null">
				SkuName = #{record.skuname,jdbcType=VARCHAR},
			</if>
			<if test="record.couponid != null">
				CouponId = #{record.couponid,jdbcType=INTEGER},
			</if>
			<if test="record.ordercode != null">
				OrderCode = #{record.ordercode,jdbcType=VARCHAR},
			</if>
			<if test="record.oahid != null">
				OahId = #{record.oahid,jdbcType=VARCHAR},
			</if>
			<if test="record.status != null">
				Status = #{record.status,jdbcType=INTEGER},
			</if>
			<if test="record.point != null">
				Point = #{record.point,jdbcType=INTEGER},
			</if>
			<if test="record.count != null">
				Count = #{record.count,jdbcType=INTEGER},
			</if>
			<if test="record.skuprice != null">
				SkuPrice = #{record.skuprice,jdbcType=REAL},
			</if>
			<if test="record.type != null">
				Type = #{record.type,jdbcType=INTEGER},
			</if>
			<if test="record.actid != null">
				ActId = #{record.actid,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update orderactivity_child_history
		set Id = #{record.id,jdbcType=INTEGER},
		SkuId = #{record.skuid,jdbcType=INTEGER},
		SkuName = #{record.skuname,jdbcType=VARCHAR},
		CouponId = #{record.couponid,jdbcType=INTEGER},
		OrderCode = #{record.ordercode,jdbcType=VARCHAR},
		OahId = #{record.oahid,jdbcType=VARCHAR},
		Status = #{record.status,jdbcType=INTEGER},
		Point = #{record.point,jdbcType=INTEGER},
		Count = #{record.count,jdbcType=INTEGER},
		SkuPrice = #{record.skuprice,jdbcType=REAL},
		Type = #{record.type,jdbcType=INTEGER},
		ActId = #{record.actid,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.yinlian.wssc.web.po.OrderactivityChildHistory">
		update orderactivity_child_history
		<set>
			<if test="skuid != null">
				SkuId = #{skuid,jdbcType=INTEGER},
			</if>
			<if test="skuname != null">
				SkuName = #{skuname,jdbcType=VARCHAR},
			</if>
			<if test="couponid != null">
				CouponId = #{couponid,jdbcType=INTEGER},
			</if>
			<if test="ordercode != null">
				OrderCode = #{ordercode,jdbcType=VARCHAR},
			</if>
			<if test="oahid != null">
				OahId = #{oahid,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				Status = #{status,jdbcType=INTEGER},
			</if>
			<if test="point != null">
				Point = #{point,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				Count = #{count,jdbcType=INTEGER},
			</if>
			<if test="skuprice != null">
				SkuPrice = #{skuprice,jdbcType=REAL},
			</if>
			<if test="type != null">
				Type = #{type,jdbcType=INTEGER},
			</if>
			<if test="actid != null">
				ActId = #{actid,jdbcType=INTEGER},
			</if>
		</set>
		where Id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.yinlian.wssc.web.po.OrderactivityChildHistory">
		update orderactivity_child_history
		set SkuId = #{skuid,jdbcType=INTEGER},
		SkuName = #{skuname,jdbcType=VARCHAR},
		CouponId = #{couponid,jdbcType=INTEGER},
		OrderCode = #{ordercode,jdbcType=VARCHAR},
		OahId = #{oahid,jdbcType=VARCHAR},
		Status = #{status,jdbcType=INTEGER},
		Point = #{point,jdbcType=INTEGER},
		Count = #{count,jdbcType=INTEGER},
		SkuPrice = #{skuprice,jdbcType=REAL},
		Type = #{type,jdbcType=INTEGER},
		ActId = #{actid,jdbcType=INTEGER}
		where Id = #{id,jdbcType=INTEGER}
	</update>
	<select id="getListByOrderCode" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from OrderActivity_Child_History where OrderCode=#{0}
	</select>
	<update id="updateStatusById">
	update orderactivity_child_history
	set Status=#{1} where id=#{0}
	</update>
	<update id="updatePayMoney">
	update OrderActivity_History 
	set OrderID= {1},Status=# {3} ,OrderActualPrice=#{2} 
	where OrderCode =#{0}
	</update>
</mapper>