
<head>
<meta charset="utf-8">

<title>绿色食品中国</title>
<link rel="stylesheet" href="/resource/wap/css/greenLife.css" />
<script type="text/javascript" src="/resource/jquery-1.9.1.min.js" ></script>
<script type="text/javascript" src="/resource/wap/js/Yeffect16_0118.min.js" ></script>
<script type="text/javascript" src="/resource/wap/js/greenLife.js" ></script>
<script type="text/javascript" src="/resource/artTemplate.js"></script>
<script type="text/javascript" src="/resource/wap/js/js.js" ></script>
<script type="text/javascript" src="/resource/wap/js/wap-common.js"></script>
<script type="text/javascript">
  	$(function(){
		 pageData={page:1,pagesize:10};
		 pageUrl="/wap/zlzx/queryrmcs";
		 content="#body";
		initPage();
	});
  	</script>
</head>
<body>
<!--septop begin-->
<div class="septop rowreturn bjwhite">
	<div class="bigsize">绿色食品中国</div>
	<%if(pagetype=="index"){%>
	<div id="rowreturn" onclick="javascript:window.location.href='/wap/index.html'"></div>
	<%}else{%>
	<div id="rowreturn" onclick="javascript:window.location.href='/wap/find/findindex.html'"></div>
	<%}%>
</div>
<!--septop stop-->
<img src="/resource/wap/images/img7.jpg" class="img-responsive"/>
<div class="modi-fxul fix lszgbtul">
	<ul class="fix">
		<li><a href="/wap/find/dfginfo.html"><i><img src="/resource/wap/images/lszg_ico1.png" class="img-responsive"/></i><p>地方馆</p></a></li>
		<li><a href="/wap/find/lszgtcdq.html"><i><img src="/resource/wap/images/lszg_ico2.png" class="img-responsive"/></i><p>特产大全</p></a></li>
		<li><a href="#"><i><img src="/resource/wap/images/lszg_ico3.png" class="img-responsive"/></i><p>绿色追溯</p></a></li>
		<li><a href="/wap/find/lszglsgs.html"><i><img src="/resource/wap/images/lszg_ico4.png" class="img-responsive"/></i><p>绿色故事</p></a></li>
	</ul>
</div>
<hr class="back" />
<div class="lszg-title fix">
	<span class="bolder">实时推荐</span><span class="huise">地道推荐，猜你喜欢</span>
</div>
<ul class="sep-byzslist fix">
<%for(vo in vhpskulist){%>
	<li>
		<a href="http://localhost:8080/wap/products/ProDetail.html?spuid=${vo.spuid}&href=/wap/find/lszgindex.html">
			<img src="${vo.imgurl}"/>
			<h3>${vo.name}</h3>
			<p class="orange">￥${vo.price}</p>
		</a>
	</li>
	<%}%>
</ul>
<hr class="back" />
<div class="lszg-title fix borderbot">
	<span class="bolder">热门城市</span><span class="huise">热门城市 一手掌握</span>
</div>
<ul class="sep-zlzx fix" id="body">
</ul>
<img src="/resource/wap/images/index_42.png" class="qianggou-scrollTop">
<script type="text/html" id="pagehtml">
{{each list as vo i}}
<li class="fix">
		<a href="/wap/dfg/rmdq.html?id={{vo.id}}">
			<img src="{{vo.imgurl}}"/>
			<div class="sep-zlzx-r">
				<h3>{{vo.name}}</h3>
				<p>{{vo.description}}</p>
			</div>
		</a>
	</li>
{{/each}}
</script>
<script>
$(function(){
	Yeffect.resizeHtWstr(".sep-byzslist li:visible",".sep-byzslist li img",296,296);
	Yeffect.resizeHtWstr(".sep-zlzx li:visible",".sep-zlzx li img",199,49);
})
</script>

</body>
