<!-- @{
    ViewBag.Title = "售后订单列表";
    Layout = "~/Areas/Member/Views/Shared/_Layout_Member_Center.cshtml";
} -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>返修退换货</title>
<link href="/resource/artDialog/skins/default.css" rel="stylesheet" />
 <link type="text/css" rel="stylesheet" href="/resource/pc/web/css/common.css" />
<link type="text/css" rel="stylesheet" href="/resource/pc/web/css/top-footer.css" />
<link type="text/css" rel="stylesheet" href="/resource/pc/web/css/style01.css" />
<link type="text/css" rel="stylesheet" href="/resource/ui-dialog.css" />

    
<link href="/resource/public/commoncss/jQuery.Validate.css" rel="stylesheet" />
 <script src="/resource/pc/member/js/Concern/syconcernlist.js"></script>
<script src="/resource/pc/web/js/browsehistory/browsehistory.js"></script>
<script src="/resource/jquery-1.8.2.min.js"></script>
<script src="/resource/pc/web/js/index.js"></script>
<script src="/resource/pc/member/js/pager2.js"></script>
<script src="/resource/pc/member/js/showdate.js"></script>
 <script src="/resource/artTemplate.js"></script>
 <script src="/resource/dialog-plus.js"></script>
 <script src="/resource/dialogShow.js"></script>
<script src="/resource/jQueryRotate.2.2.js"></script>
 <script src="/resource/Guid.js"></script>
 
  <link href="/resource/pc/member/css/pager2.css" rel="stylesheet" />
    <script type="text/javascript" src="/resource/pc/member/js/pager2.js"></script>

<script type="text/javascript" src="/resource/public/commonjs/Birthday-picker.js"></script>
<script type="text/javascript" src="/resource/pc/commonjs/style.js"></script>
<script type="text/javascript" src="/resource/pc/member/js/zhsz/PersonalInformation.js"></script>
<script type="text/javascript" src="/resource/public/commonjs/Birthday-picker.js"></script>

<script src="/resource/public/commonjs/AjaxFileUploaderV2.1/ajaxfileupload.js"></script>
<script src="/resource/public/commonjs/jquery.validate.js"></script>
<script src="/resource/public/commonjs/messages_cn.js"></script>
<script src="/resource/public/commonjs/jquery.validate-methods.js"></script>


    <!--弹出框样式-->
    
    <script src="/resource/GetQueryString.js"></script>
    <script src="/resource/dialog-plus.js" type="text/javascript"></script>
    <script src="/resource/dialogShow.js"></script> <!--设置统一dialog弹出框-->
    <script src="/resource/My97DatePicker/WdatePicker.js"></script>
    <!--文件上传-->
    <!--用户公共-->
    <script src="/resource/public/commonjs/public-user.js"></script>
    <!--表单验证css&&js-->
    
    <link href="/resource/public/commoncss/jQuery.Validate.css" rel="stylesheet" />
    <script src="/resource/public/commonjs/jquery.validate.js"></script>
    <script src="/resource/public/commonjs/messages_cn.js"></script>
    <script src="/resource/public/commonjs/jquery.validate-methods.js"></script>
    <script src="/resource/public/commonjs/jquery.form.js"></script>
    
    <script src="/resource/pc/member/js/khfw/AfterService.js"></script>
 <script type="text/javascript">
    $(document).ready(function () {
        var searchString = GetQueryStringByName("searchString");
        if (searchString == null || searchString == 'undefined')
            searchString = "";
		
        AtterService.getOrderList(1, searchString);
    })

    //刷新数据列表
    function Refresh() {
        window.location.href = "/member/khFwmemb/afterServiceOrderList.html";
    }

    //查询
    function Search() {
        var seachStr = $("#text_search").val();
        AtterService.getOrderList(1, seachStr);
    }

    //申请售后
    function Apply(obj) {
        var orderdetailID = $(obj).attr('detailid-val');
        var backUrl = encodeURIComponent(window.location.href);
        window.location.href = "/member/khFwmemb/RepairOrReturn.html?orderdetailID=" + orderdetailID + "&backUrl=" + backUrl;
    }
</script>
 </head>
<body>
<!--main  主要内容  开始 -->
<div id="main" class="fix">
    <!--main-left 左边内容  开始 -->
   <% include("/template/pc/memberCenter/Shared/_PartialLeftside.html",{}){}%>
    <!--main-left 左边内容  结束 -->
    <!--rightside 右边内容  结束 -->
    <div class="rightside">
        <!--l_jfmx积分明细  begin -->
        <div class="l_jfmx mt0">
            <!--l_jfmxtop  begin -->
            <div class="l_jfmxtop">
                <h3>
                    <a href="javascript:void(0);" class="active" onclick="Refresh();">申请返修/退换货 </a>
                    <a href="/member/khFwmemb/AfterServiceCompleteList.html">返修/退换货记录</a>
                </h3>
                <!--l_spsscon  begin -->
                <div class="l_spsscon top0">
                    <input name="text_search" id="text_search" type="text" class="l_spsscon_inp" value="" placeholder="订单号" onkeypress=" if (event.keyCode == 13) { Search(); }">
                    <input name="" type="button" class="l_spsscon_but" value="" onclick="Search();">
                </div>
                <!--l_spsscon  stop -->
            </div><!--l_jfmxtop  stop -->
            <!--jfmxcon  begin -->
            <div class="jfmxcon">
                <table class="l_tablemost">
                    <tr id="tr_listtitle">
                        <th>订单编号</th>
                        <th width="410px;">订单商品</th>
                        <th width="135px;">联系客服</th>
                        <th>下单时间</th>
                    </tr>
                    <script type="text/html" id="orderslist">
                        {{each list as orders i}}
                        <tr>
                            <td class="shenlan">{{orders.code}}</td>
                            <td>
                                <div class="l_sqthhym">
                                    <ul>
                                        {{each orders.lsitdetais as orderdetails l}}
                                        <li>
                                            <a href="javascript:void(0);" onclick="Goods_Href({{orderdetails.skuid}})" sku-val="{{orderdetails.skuid}}" class="a_spuhref"><img src="{{orderdetails.productimg}}" title="{{orderdetails.productname}}"></a>
                                            {{if (orders.status==3 ||  orders.status==8) && (orderdetails.status==39||orderdetails.status==49||orderdetails.status==59)}}
                                            <a href="javascript:void(0);" class="l_tjfxthh small a_apply" detailid-val="{{orderdetails.id}}" onclick="Apply(this);">申请</a>
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </td>
                            <td><a href="javascript:void(0);" class="l_lxkf">联系客服</a></td>
                            <td>{{orders.addOrderDatetr}}</td>
                        </tr>
                       
                        {{/each}}
                    </script>
                </table>
                <!--sppj_page  begin -->
                <div class="pager" id="pager">

                </div>
                <!--sppj_page  stop -->
            </div>
            <!--jfmxcon stop -->
        </div>
        <!--l_jfmx积分明细  stop -->
        <!--l_cjwt  begin -->
        <div class="l_cjwt">
            <h3>返修/退换货申请常见问题</h3>
            <ul>
                <li>1. “申请”按钮若为灰色，可能是因为订单尚未完成或该商品正在返修/退换货中;</li>
                <li>2. 查看 <span class="shenlan"><a href="/member/pcarticles/showarticles?classfy=1">售后政策</a></span>;</li>
            </ul>
        </div>
        
        <% include("/template/pc/memberCenter/Common_M/M_GuessYouLike.html",{}){}%>
        <!--l_cjwt  stop -->
        <!--l_like 猜你喜欢 开始 -->
    <!--     @{
            Html.RenderAction("M_GuessYouLike", "Common_M");
        } -->
        <!--l_like 猜你喜欢 结束 -->
    </div>
    <!--rightside 右边内容  结束 -->
    <div class="clear"></div>
</div>
</body>
<!--main  主要内容  结束 -->

