<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中绿资讯</title>
<meta name="title" content="中绿资讯" />
<meta name="keywords" content="" />
<meta name="description" content="" />

</head>

<body class="bodybjhs">
<% try{
		include("/template/pc/nav/zlzq_nav.html",{flag:6}){}}catch(error){}%>
<!--container 中间所有内容开始-->
<div class="mt40"></div>
<div id="container" class="fix">
	<div class="xzzlwd-tit fix mt20">
		<span class="fon22">中绿资讯</span>
		<p><i></i></p>
	</div>
	<ul class="xzlsgs-ulnr fix" id="news_ul">
		<script type="text/html" id="newslist">
			{{each list as news i}}
                <li>
                   <a href="/zlzx/newsinfo.html?cid={{news.id}}&&title=中绿资讯&&url=/zlzx/zlzx_index.html">
						<img src="{{news.imgurl}}">
						<div class="xzlsgs-ulnr-js">{{news.subtitle}}</div>
					</a>
                </li>
            {{/each}}
        </script>
	</ul>
    <!--page  分页开始 -->
    <div id="pager" class="page"></div>
    <!--page  分页结束 -->
</div>
<script type="text/javascript">
	var pindex = 1,psize=9;
	var pcount;
	var News = {
		getlist : function(index) {
			$.ajax({
				url : "/zlnews/zlzx/getpagelist",
				type : "Post",
				data : {
					"page" : pindex,
					"size" : psize
				},
				dataType : "json",
				success : function(data) {
					if (data.code < 0) {
						alert(data.desc);
					} else {
						var listdata = {
							list : data.data
						}
						var html = template('newslist', listdata);
						$("#news_ul").html(html);

						pcount = data.maxRow;
						pindex = data.pageIndex;
						// 分页
						$("#pager").html(pagination(pcount, pindex, psize, "News.getlist"));
					}
				},
				error : function() {
				}
			});
		}
	}
	$(document).ready(function(){
		News.getlist(1);
	})
</script>
<!--container 中间所有内容结束-->
</body>
</html>
