<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>评论</title>
</head>
<body>
<!--top_title  begin-->
<div class="top_title fix">
    <div class="top_return"  onclick="javascript:location.href='/wap/discover/message.html'">
        <img src="/resource/wap/images/top_return.png"/>
    </div>
    评论
</div>
<div class="container fix">
<div class="l_fzplxq">
    <ul>
        <li class="fix">
            <div class="l_fzplxql" ><div class="l_scfmk03_01"><img src="/resource/wap/images/1.jpg" class="img-responsive"></div></div>
            <div class="l_fzplxqr">
                <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
                <p>不错的化妆品</p>
            </div>
        </li>
        <li class="fix">
            <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
            <div class="l_fzplxqr">
                <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
                <p>很有用的推荐，打算最近入手一款很有用的推荐，打算最近入手一款</p>
            </div>
        </li>
        <li class="fix">
            <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
            <div class="l_fzplxqr">
                <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
                <p>不错的化妆品</p>
            </div>
        </li>
        <li class="fix">
            <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
            <div class="l_fzplxqr">
                <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
                <p>不错的化妆品</p>
            </div>
        </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
            <p>不错的化妆品</p>
        </div>
    </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
            <p>不错的化妆品</p>
        </div>
    </li>
        <li class="fix">
            <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
            <div class="l_fzplxqr">
                <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
                <p>不错的化妆品</p>
            </div>
        </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
            <p>不错的化妆品</p>
        </div>
    </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span><	/p>
            <p>不错的化妆品</p>
        </div>
    </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
            <p>不错的化妆品</p>
        </div>
    </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
            <p>不错的化妆品</p>
        </div>
    </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
            <p>不错的化妆品</p>
        </div>
    </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
            <p>不错的化妆品</p>
        </div>
    </li><li class="fix">
        <div class="l_fzplxql"><div class="l_scfmk03_01"><img src="/resource/wap/images/img14.jpg" class="img-responsive"></div></div>
        <div class="l_fzplxqr">
            <p class="huise">点点酸味<span class="floatright">4月6日</span></p>
            <p>不错的化妆品</p>
        </div>
    </li>
    </ul>
</div>
</div>
</body>
</html>