<%var path="/resource";%>
<head>
<title>个人中心-未登录</title>
<script src="${path}/wap/js/index.js"></script>
</head>
<body>
<!--container  begin-->
<div class="container fix">
	<!--l_alltop  begin -->
	<div class="l_alltop fix" onclick="javascript:location.href='/wap/discover/dynamic.html'">
    	<span><img src="${path}/wap/images/tp10.png" class="img-responsive l_maxwid"></span>
    	店铺动态
    </div>
    <!--l_alltop  stop -->
    <!--l_ynfdtop  begin -->
    <div class="l_ynfdtop fix">
    	<div class="l_ybflogo"><img src="${path}/wap/images/ynflogo.jpg" class="img-responsive"></div>
    	<div class="l_ynfdtop01 active">御泥坊旗舰店</div>
        <div class="l_ynfdtop02 fix active">
        	<span class="l_ynygz"><a href="#"><i><img src="${path}/wap/images/gzxinico_hui.png" class="img-responsive"></i>关注</a></span>
            <span class="l_ynjdnu"><a href="#">进店<i><img src="${path}/wap/images/gzxinico01.png" class="img-responsive"></i></a></span>
        </div>
    </div>
    <!--l_ynfdtop  stop -->
    <!--l_ynfsplb  begin -->
    <div class="l_ynfsplb fix">
    	<!--l_fzcxtop  begin -->
        <div class="l_fzcxtop fix">
            <span class="bjred">促销</span> <span class="huise">9.2折起促销，迟点就涨价</span> <span class="huise l_fzcxtopdw">今天 14:58</span>
        </div>
        <!--l_fzcxtop  stop -->
        <div class="l_ynfullb mt3">
            <ul>
                <li>
                    <a href="#"><img src="${path}/wap/images/1.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
            </ul>
        </div>
        <div class="l_ckgdfx"><a href="">查看更多<span class=" r_ckgdfx"><img src="${path}/wap/images/gzxinico02.png" class="img-responsive"></span></a></div>
    </div>
    <!--l_ynfsplb  stop -->
    <!--l_cxhpnr  begin -->
    <div class="l_cxhpnr fix">
    	<!--l_fzcxtop  begin -->
        <div class="l_fzcxtop fix">
            <span class="bjred bjhuangse">上新</span> <span class="huise">本店上新，欢迎选购</span> <span class="huise l_fzcxtopdw">今天 14:58</span>
        </div>
        <!--l_fzcxtop  stop -->
        <div class="l_ynfullb mt3">
            <ul>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
            </ul>
        </div>
    </div>
    <!--l_cxhpnr  stop -->
    <!--l_cxhpnr  begin -->
    <div class="l_cxhpnr fix">
    	<!--l_fzcxtop  begin -->
        <div class="l_fzcxtop fix">
            <span class="bjred">促销</span> <span class="huise">手快有，手慢无</span> <span class="huise l_fzcxtopdw">今天 14:58</span>
        </div>
        <!--l_fzcxtop  stop -->
        <div class="l_ynfullb mt3">
            <ul>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
                <li>
                    <a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a>
                    <p>￥ 79.00</p>
                </li>
            </ul>
        </div>
    </div>
    <!--l_cxhpnr  stop -->
    <!--l_cxhpnr  begin -->
    <div class="l_cxhpnr fix">
    	<!--l_fzcxtop  begin -->
        <div class="l_fzcxtop fix">
            <span class="bjred">促销</span> <span class="huise">手快有，手慢无</span> <span class="huise l_fzcxtopdw">4-24 14:58</span>
        </div>
        <!--l_fzcxtop  stop -->
        <div class="l_cxynfxm fix">
        	<div class="l_cxynfxm01"><a href="#"><img src="${path}/wap/images/1.jpg" class="img-responsive" title="" alt=""></a></div>
            <div class="l_cxynfxm02">
            	<h3><a href="#">御泥坊 红酒透亮矿物蚕丝面膜贴 21片装（补水亮肤 抚...</a></h3>
                <p>￥ 119.90</p>
            </div>
        </div>
    </div>
    <!--l_cxhpnr  stop -->
    <!--l_cxhpnr  begin -->
    <div class="l_cxhpnr fix">
    	<!--l_fzcxtop  begin -->
        <div class="l_fzcxtop fix">
            <span class="bjred">促销</span> <span class="huise">手快有，手慢无</span> <span class="huise l_fzcxtopdw">4-24 14:58</span>
        </div>
        <!--l_fzcxtop  stop -->
        <div class="l_cxynfxm fix">
        	<div class="l_cxynfxm01"><a href="#"><img src="${path}/wap/images/ynf.jpg" class="img-responsive" title="" alt=""></a></div>
            <div class="l_cxynfxm02">
            	<h3><a href="#">御泥坊 红酒透亮矿物蚕丝面膜贴 21片装（补水亮肤 抚...</a></h3>
                <p>￥ 119.90</p>
            </div>
        </div>
    </div>
    <!--l_cxhpnr  stop -->
    <!--loading  begin-->
	<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<div class="object" id="object_one"></div>
				<div class="object" id="object_two"></div>
				<div class="object" id="object_three"></div>
				<div class="object" id="object_four"></div>
				<div class="object" id="object_five"></div>
				<div class="object" id="object_six"></div>
				<div class="object" id="object_seven"></div>
				<div class="object" id="object_eight"></div>
			</div>
		</div>
	</div>
	<!--loading  stop-->
</div>
<!--container  stop -->
<img src="${path}/wap/images/index_42.png" class="qianggou-scrollTop">
<script>
window.onload=function(){		
	newArrival('.l_ynfullb ul li img');
	newArrival('.l_cxynfxm01 img');
}	
</script>
</body>