<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.dao.MusicDao">
	
    <insert id="">
    	<selectKey keyProperty="musicID" resultType="String" order="BEFORE">
    		select  replace(uuid(),'-','')   from dual
    	</selectKey>
    	insert into musics() values()
    </insert>
    <resultMap type="com.music.entity.User" id="UserResult">
        <id property="userID" column="userID"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="nickName" column="nickName"/>
        <result property="loginTime" column="loginTime"/>
       <!--  <association property="address" column="addid" select="com.qbd.mapper.AddressMappers.findbyid">    
        </association>
        <association property="grade" column="gid" select="com.qbd.mapper.GradeMappers.findbyid">    
        </association> -->
    </resultMap>
</mapper>