@charset "utf-8";
/* CSS Document */
html,body{height:100%; width:100%; overflow:hidden; margin:0; padding:0;}

/*top  begin*/
#top{ width:100%; height:99px; background:#ffffff; border-bottom:1px solid #EAEAEA;}
#top .wrapper{ width:1200px; margin:0 auto; height:100px; position:relative;}
.logo{ width:396px; height:90px; background:url(../images/logo_wzyl.png) no-repeat;}
.top-right{ width:300px; position:absolute; top:0px; right:0px; text-align:right; height:99px; line-height:99px; font-size:14px;}
#top .wrapper .top-right .lvse{ margin-left:15px; font-size:12px;}
/*top  stop*/

/*main  begin*/
#main{ background:#FAFAFA;width:100%; height:100%; overflow:hidden; margin:0; padding:0;}
#main .wrapper{width:1200px; height:100%; margin:0 auto; padding-top:60px;} 
.mainleft{ width:563px; height:328px; float:left; clear:both; margin-top:100px;}
.mainright{ width:500px; float:right;}
.mainright-top{ font-size:18px; font-weight:bolder; text-align:center;}
.mainright-con{ width:500px; border:1px solid #D6D6D6; background:#ffffff; padding:50px 0px 20px 0px; margin-top:25px; position:relative;}
.mainright-con-sj{ width:19px; height:11px; background:url(../images/img_sanjiao.png) no-repeat; position:absolute; top:-11px; right:240px;}
.login{ width:352px; height:105px; background:url(../images/img_bj01.png) no-repeat; margin:0 auto;}
.login-dl{ height:50px; line-height:50px\0; float:right; width:290px; background:none; border:none; color:#A0A0A0; padding-left:5px;}
.wjmm{ width:352px; margin:0 auto; height:35px; line-height:35px; margin-top:10px; position:relative;}
.mfzc{ width:100px; height:35px; position:absolute; top:0px; right:0px; text-align:right; display:inline-block;}
.login-dlaniu{ width:352px; height:40px; margin:0 auto;}
.elselogin{ width:352px; border-top:1px dashed #BABABA; margin:45px auto 0px auto;}
.qtdl{ height:42px; line-height:42px; color:#BEBEBE;}
.qtdl-img span{ margin-right:10px;}
.qq_login, .wx_login, .wb_login{ width:35px; height:32px; display:inline-block; background:url(../images/login_else.png) no-repeat; cursor:pointer;}
.qq_login{ background-position:0px 0px;}
.wx_login{ background-position:-60px 0px;}
.wb_login{ background-position:-120px 0px;}
.tsmess{ color:#c31; line-height:20px; width:352px; margin:5px auto 0px auto;}
/*main  stop*/

/*yxzc 邮箱注册 begin*/
.yxzc{ height:39px;}
.yxzc-wz{ height:37px; line-height:36px; padding:0px 35px; border:1px solid #BFBFBF; border-top:3px solid #4AB9EE; display:inline-block; font-size:16px; color:#42BCE3; border-bottom:none; background:#FFF; margin:0px 5px 0px 200px; }
.yxzc-wz a{ color:#42BCE3;}
.sjzc-wz a{ color:#42BCE3;}
.sjzc-wz{ height:37px; line-height:37px; padding:0px 35px; border:1px solid #BFBFBF; display:inline-block; font-size:16px; color:#42BCE3; border-bottom:none;background:#FFF; }
.yxyzcon{ background:#ffffff; border:1px solid #C0C0C0; padding:70px;}
.yxyzcon-left{ width:545px; border-right:1px solid #585858; float:left; clear:both;}
.yxyzcon-left .yxyzmk{height:45px; margin-bottom:20px;}
.yxyzcon-left .yxyzmk .yxyzmk-left{ width:102px; text-align:right; height:45px; line-height:45px; font-size:16px; padding-right:5px; float:left; color:#000;}
.yxyzcon-left .yxyzmk .yxyzmk-right{ background:url(../images/img_bj02.png) no-repeat; height:45px; width:273px; float:left;}
.inp-yz{ height:43px; width:263px; background: none; border:none; padding:0px 5px; color:#ccc; line-height:43px\0; font-size:14px; }
.yxyzcon-left .yxyzmk .yxyzmk-right-yzm{ background:url(../images/img_bj03.png) no-repeat; height:45px; width:273px; float:left;}
.inp-yz-yzm{ height:43px; width:140px; background: none; border:none; padding:0px 5px; color:#C0C0C0; line-height:43px; float:left;font-size:14px; }
.verification-yzm{ width:83px; height:45px; display:inline-block; overflow:hidden; float:left;}
#main .wrapper .yxyzcon .yxyzcon-left .yxyzmk .yxyzmk-right-yzm .lvse{ height:45px; line-height:45px; display:inline-block; float: left;}
#main .wrapper .yxyzcon .yxyzcon-left .yxyzmk .yxyzmk-right-yzm .lvse a:hover{ text-decoration:underline;}
.yxyzmk-right-bottom{ height:30px; width:273px; float:left; line-height:30px; font-size:16px; color:#0F0F0F;}
.yxyzcon-right{ width:350px; float:right;}
.yyzc-img{ height:65px;}
.qyzc-wzjs{ height:30px; line-height:30px; color:#101010;}
.qyzc-wzjs a{color:#101010;}
.qyzc-wzjs a:hover{color:#c31;}
.hqyzm-sj{ width:110px; height:43px; display:inline-block;float:right; line-height:45px; text-align:center; cursor:pointer; border:1px solid #ACACAC;color:#C0C0C0; font-size:14px;}
/*yxzc 邮箱注册 stop*/


/*企业注册  开始*/
.hyzcqyyh{ font-size:24px; color:#009BFF; padding:0px 70px;}
/*fwlbcon  begin*/
.fwlbcon{ margin-top:25px; padding:0px 70px;}
.fwlbcon-mk{ width:290px; font-size:14px; float:left;}
.fwlbcon-mktitle{ font-weight:bolder; color:#000; height:30px; line-height:30px;}
.fwlbcon-mkcon{}
.fwlbcon-mkcon ul li{ line-height:25px;}
/*fwlbcon  stop*/
/*zhxx-qyzc  begin*/
.l_zhxxmk{margin-bottom:20px;}
.l_zhxxmk-left{ width:460px; text-align:right; font-size:16px; padding-right:5px; float:left; color:#000;}
.l_zhxxmk-right{width:500px; float:left;}
.zhxxmk-right_big{background:url(../images/img_bj04.png) no-repeat; height:46px; width:489px; float:left;}
.l_inp-yz{ background:none; border:none; width:489px; height:43px; padding:0px 5px; line-height:46px;}
.zhxx-qyzc{ margin:50px 0px 0px 0px;}
.zhxx-qyzctop{ height:38px; background:#E4E2E3; border-top:1px solid #BCB5AD; padding-left:70px; line-height:38px; font-size:16px; color:#000; font-weight:bolder;}
.zhxxform{ padding:60px 0px 0px 0px;}
.zhxxmk{height:45px; margin-bottom:20px;}
.zhxxmk-left{ width:460px; text-align:right; height:45px; line-height:45px; font-size:16px; padding-right:5px; float:left; color:#000;}
.zhxxmk-right{ background:url(../images/img_bj02.png) no-repeat; height:45px; width:273px; float:left;}
.zhxxmk-right-szbm{height:45px; width:700px; float:left;}
.selcon{ width:154px; height:46px; float:left; margin-right:15px;}
.selcon-left{ width:125px; height:46px; position:absolute; top:0px; left:0px; line-height:46px; text-align:center; font-size:16px;}
.selcon-right{ width:29px; height:46px; position:absolute; top:0px; left:125px;}
.selcon-main{ width:152px; height:300px; position:absolute; top:47px; left:0px; background:#F5F5F5; z-index:20; border:1px solid #7F7F7F; overflow:auto; display:none; }
.selcon-main ul li{ padding-left:15px; font-size:14px; height:25px; line-height:25px; cursor:default;}
.zhxxmk-right-yzm{ background:url(../images/img_bj03.png) no-repeat; height:45px; width:273px; float:left;}
.hqyzm-sj-zhxxmk{ width:110px; height:43px; display:inline-block;float:right; line-height:45px; text-align:center; cursor:pointer; border:1px solid #ACACAC; font-size:14px; background:#EFEFEF;}
.zhxxmk-right-szbm .fxk-zhxxmk li{ font-size:16px; float:left; margin:0px 15px 10px 0px;}
#main .wrapper .yxyzcon .zhxx-qyzc .zhxxform .zhxxmk .zhxxmk-right-yzm .lvse{ height:45px; line-height:45px; display:inline-block; float: left;}
#main .wrapper .yxyzcon .zhxx-qyzc .zhxxform .zhxxmk .zhxxmk-right-yzm .lvse a:hover{ text-decoration:underline;}
.zhxxmk-right-bottom{ height:30px; width:273px; float:left; line-height:30px; font-size:16px; color:#0F0F0F;}
/*zhxx-qyzc  stop*/
.n_inpqyzc{ width:154px; height:43px; border:1px solid #ACACAC;}
.n_fwxycon{ width:1000px; height:500px; background:#fff; position:absolute; bottom:100px; left:100px; border:3px solid #BCBCBC; display:none;
-webkit-box-shadow: 0 3px 18px 2px rgba(188,188,188,0.75);
-moz-box-shadow: 0 3px 18px 2px rgba(188,188,188,0.75);
box-shadow: 0 3px 18px 2px rgba(188,188,188,0.75);
}
.n_fwxycontop{ height:30px; background:#F3F3F3; border-bottom:1px solid #C4C4C4; line-height:30px; text-align:center; font-size:16px; color:#000;}
.n_fwxymain{ height:370px; overflow:auto; padding:10px;}
.n_fwxybottom{ background:#E4393C; width:250px; height:30px; color:#fff; margin:25px auto 0px auto; text-align:center; line-height:30px; font-weight:bolder; font-size:14px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; cursor:pointer;}
/*企业注册  结束*/

/*账户安全  修改密码 begin*/
.xgmm{ background:#FBFBFB; padding:20px;}
.xgmm-title{ font-size:16px; font-weight:bolder; color:#000;}
.xgmm-con{ padding-top:50px;}
.xgmm-contop{ width:911px; height:38px; background:url(../images/xgmm_bj1.png) no-repeat; margin:0 auto;}
.xgmm-contop ul li{ width:300px; height:38px; line-height:38px; float:left; text-align:center; font-size:14px; color:#000;}
.xgmm-contop ul li.xgmm-contophover{ color:#FFF;}
.xgmm-maincon{ margin-top:50px;}
.xgmm-maincon table{ width:100%;}
.xgmm-maincon table tr td{ padding:10px 0px; height:30px; line-height:30px;}
.xgmm-maincon table tr td.xgmm-tableft{ width:300px; text-align:right; padding-right:8px;}
.xgmm-maincon table tr td input.inp-big{ float:left; margin-right:8px; height:30px; line-height:30px\0;}
.xgmm-maincon table tr td img{ float: left; margin-right:10px;}
.xgmm-contop1{ width:911px; height:38px; background:url(../images/xgmm_bj2.png) no-repeat; margin:0 auto;}
.xgmm-contop1 ul li{ width:300px; height:38px; line-height:38px; float:left; text-align:center; font-size:14px; color:#000;}
.xgmm-contop1 ul li.xgmm-contophover{ color:#FFF;}
.xgmm-contop2{ width:911px; height:38px; background:url(../images/xgmm_bj3.png) no-repeat; margin:0 auto;}
.xgmm-contop2 ul li{ width:300px; height:38px; line-height:38px; float:left; text-align:center; font-size:14px; color:#000;}
.xgmm-contop2 ul li.xgmm-contophover{ color:#FFF;}
.xgmm-maincon-complete{ text-align:center; padding:80px 0px 100px 0px; font-size:18px; }
/*账户安全  修改密码 stop*/
/*l_xgmmtop  begin*/
.l_xgmmtop{ width:100%; margin:10px auto 0px;}
.l_xgmmtop ul li{ width:25%; text-align:center; float:left; position:relative; padding-top:15px; color:#898989; border-top:5px solid #CBCBCB;}
.l_xgmmtop ul li span{ display:inline-block; width:25px; height:25px; background:#CBCBCB;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%; text-align:center; line-height:25px; color:#fff; font-size:14px; position:absolute; top:-18px; left:43%;}
.l_xgmmtop ul li.active{ border-color:#79BD53; color:#79BD53;}
.l_xgmmtop ul li.active span{ background:#79BD53;}
.zc_hqdzyzm a{ height:30px; display:inline-block; border:1px solid #E4E4E4; background:#F7F7F7; line-height:30px; padding:0px 20px; }
/*l_xgmmtop  stop*/
.inp-big{ border:1px solid #DADADA; width:243px; height:25px; line-height:25px\0; padding:0px 5px;}
.wjmmcon-nr{ max-width:1200px; margin:80px auto 0px;}
.wddd-title{ font-size:16px; font-weight:bold; padding:0px 0px 45px;}
.l_tjfxthh{ display:inline-block; background:#F1F9ED; border:1px solid #CCE0BF; height:25px; line-height:25px; padding:0px 15px; letter-spacing:1px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; margin-right:10px;}
.xgmm-sel{ border:1px solid #DADADA; height:30px; min-width:120px;}
