@charset "utf-8";
/* CSS Document */
/*初始化代码*/
body {color: #333; font-size:12px; font-family: "微软雅黑", helvetica, arial, verdana, tahoma, sans-serif;}  

/* page begin */
.pager{ margin:20px auto 40px auto; width:100%; text-align:center; color:#333; font-size:14px;}
.pager a{ padding:3px 10px; color:#333; border:1px solid #ccc; background:#efefef;margin-left:3px;margin-right:3px }
.pager a:hover{ color:#00B6FF;}
.pager-hover {}
.pager-hover a.sel{color:#00B6FF;border:1px solid #00B6FF;}
.pager-hover a.disadled{background:0;background:#fff;cursor:default}
.pager-hover a.disadled:hover{color:#333;text-decoration:none;}

.pager-inp{ width:40px; margin:0px 2px; height:25px;border: 1px solid #ccc;}
.pager-style{ margin:0px 20px 0px 10px;}
.pager-but{  padding:6px 8px; background:#00B6FF; color:#FFF; border:1px solid #00B6FF; display:inline-block; borde-radius:10px; margin-left:5px;}
/* page stop */

a:hover {text-decoration:underline; }
a:link{text-decoration:none;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}













