<!DOCTYPE html>
<html>
  <head>
    <title>绿色中国-绿色品牌</title>
  </head>
  
  <body>
  <!--container 中间所有内容开始-->
<div class="mt40"></div>
<div id="container" class="fix">
	<!--xzlszg-artic begin-->
	<div class="xzlszg-artic fix">
		<h3 class="xzlszg-artic-tit">${vo.title}</h3>
		<p class="xzlszg-artic-time">发布时间：${vo.createtime,dateFormat="yyyy-MM-dd mm:ss:hh"}</p>
		${vo.content}
		
		<!--cfbk-arcnrbot begin-->
		<!-- <div class="cfbk-arcnrbot fix lsgsshare">
	  	<p>上一篇：<a href="#">草莓八作用，春季常吃健康好</a></p>
	  	<p>下一篇：<a href="#">炒不同的菜肴用什么油温好</a></p>
	  	<div class="cfbk-arcnrbot-r">
	  		<span>分享:</span>
	  		<a href="#"><i class="cfbk-arcnrbotico1"></i></a>
	  		<a href="#"><i class="cfbk-arcnrbotico2"></i></a>
	  		<a href="#"><i class="cfbk-arcnrbotico3"></i></a>
	  		<a href="#"><i class="cfbk-arcnrbotico4"></i></a>
	  	</div> -->
	  </div>
	  <!--cfbk-arcnrbot stop-->
	</div>
	<!--xzlszg-artic stop-->
</div>
<!--container 中间所有内容结束-->
  </body>
</html>
