<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style>
*{ margin:0px; padding:0px}
a{color: #012CCF; text-decoration: underline;}
a:visited{/*color:#565656;*/ }
a:hover{/*color:#565656;*/}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
a,a:focus{outline:0}
#demo{ width:329px; margin:30px auto; font-size:12px;}
.red{ color:#FF2727}
#demo p{ line-height:100%; margin-top:8px;}
#demo p img{ vertical-align: text-bottom; margin-right:3px;}
ul li{ list-style:none; float:left; margin:10px 10px 0px 0px;}
</style>
</head>

<body>
<div id="demo">
    <img src="/resource/pc/web/images/404/error.gif" />
    <p class="red"><img src="/resource/pc/web/images/404/emessage.gif" />SORRY!您访问的页面弄丢了</p>
    <ul>
    	<li><a href="/index.html">返回首页</a></li>
    </ul>
</div>
</body>
</html>
