<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.techown.wssc.web.mapper.ScenicImageMapper">
  <resultMap id="BaseResultMap" type="com.techown.wssc.web.po.ScenicImage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="imageId" jdbcType="VARCHAR" property="imageid" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, path, sort, imageId, createTime, updateTime, operator, ext1, ext2
  </sql>
  
  <select id="selectByImageId"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zoo_image
    where imageId = #{imageid} order by sort
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zoo_image
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zoo_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <delete id="deleteByImageId" >
    delete from zoo_image
    where imageId = #{imageid}
  </delete>
  
  
  <insert id="insert" parameterType="com.techown.wssc.web.po.ScenicImage">
    insert into zoo_image (id, name, path, 
      sort, imageId, createTime, 
      updateTime, operator, ext1, 
      ext2)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{imageid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, #{ext1,jdbcType=VARCHAR}, 
      #{ext2,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertByBatch" parameterType="java.util.List">
       insert into zoo_image (id, name, path, sort, imageId, createTime, updateTime, operator, ext1, ext2)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.path,jdbcType=VARCHAR}, 
		      #{item.sort,jdbcType=INTEGER}, #{item.imageid,jdbcType=VARCHAR}, #{item.createtime,jdbcType=TIMESTAMP}, 
		      #{item.updatetime,jdbcType=TIMESTAMP}, #{item.operator,jdbcType=VARCHAR}, #{item.ext1,jdbcType=VARCHAR}, 
		      #{item.ext2,jdbcType=VARCHAR})
        </foreach>
  </insert>
  
  <insert id="insertSelective" parameterType="com.techown.wssc.web.po.ScenicImage">
    insert into zoo_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="imageid != null">
        imageId,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="ext1 != null">
        ext1,
      </if>
      <if test="ext2 != null">
        ext2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="imageid != null">
        #{imageid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        #{ext2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techown.wssc.web.po.ScenicImage">
    update zoo_image
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="imageid != null">
        imageId = #{imageid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="ext1 != null">
        ext1 = #{ext1,jdbcType=VARCHAR},
      </if>
      <if test="ext2 != null">
        ext2 = #{ext2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techown.wssc.web.po.ScenicImage">
    update zoo_image
    set name = #{name,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      imageId = #{imageid,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      ext1 = #{ext1,jdbcType=VARCHAR},
      ext2 = #{ext2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>