<!--navigation  导航开始 -->
<div id="navigation-1" class="fix">
	<!--导航 Start-->
	<div class="menu xzlsb">
		<div class="nav">                                                   
			<ul class="clearfix">
				<%if(pagetype==1){%>
				<li class="current" ><a href="/lszg/index.html">首页</a></li>
				<%}else{%>
				<li ><a href="/lszg/index.html">首页</a></li>
				<%}%>
				 <%if(pagetype==2){%>
				<li class="current" ><a href="/lszg/dfg.html">地方馆</a></li>
				 <%}else{%>
				 <li ><a href="/lszg/dfg.html">地方馆</a></li>
				 <%}%>
				<%if(pagetype==3){%>
				<li  class="current"  ><a href="/lszg/tsdq.html">特色大全</a></li>
				<%}else{%>
				<li   ><a href="/lszg/tsdq.html">特色大全</a></li>
				<%}%>
				<%if(pagetype==4){%>
				<li  class="current"  ><a href="/lszg/lsgs.html">绿色故事</a></li>
				<%}else{%>
				<li   ><a href="/lszg/lsgs.html">绿色故事</a></li>
				<%}%>
			</ul>
		</div>
	</div>
	<!--导航 End-->
</div>
<!--navigation  导航结束 -->