<%var path="/resource";%>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>邀请好友</title>
</head>
<body>
<div class="top_title fix">
         <a  href="/wap/showsetting/setting">
		<div class="top_return">
			<img src="${path}/wap/images/top_return.png"/>
		</div>
		</a>
		邀请好友
	</div>
<div class="yaoqing-hyA">
	<a href="#">邀请好友注册</a><br>
    <span>可获得500积分奖励</span>
</div>
<div class="yaoqing-hyB">
	<h3><b>第三方账号登录</b></h3>
    <div>
    	<a href="#"><img src="${path}/wap/images/index_36.png" alt="qq"></a>
        <a href="#"><img src="${path}/wap/images/index_37.png" alt="微信"></a>
        <a href="#"><img src="${path}/wap/images/index_38.png" alt="微博"></a>
    </div>
</div>
</body>