<!DOCTYPE html>
<html>
  <head>
    <title>noSession.html</title>
	<meta charset=utf-8 http-equiv='Refresh' content='5;URL=/pushwin/controller/system/init'/>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
      <script type="text/javascript" src="../../scripts/boot.js"></script>
  </head>
  
  <body>
    <script type="text/javascript">
		 mini.showMessageBox({
	           showModal: true,
	           width: 250,
	           title: "提示",
	           iconCls: "mini-messagebox-warning",
	           message: '1212',
	           timeout: 3000,
	           x: 'right',
	           y: 'top'
		});
    </script>
  </body>
</html>
