<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <script src="${request.getContextPath()}/scripts/boot.js" type="text/javascript"></script>
<meta name="viewport" content="width=320, height=460, user-scalable=no,
initial-scale=1.0" />
<title>Install Dev App</title>
</head>


<body>
<div align="center">
				<a href="itms-services://?action=download-manifest&url=http://Your_Server_Domain/ios_app/dev.plist"  style="color:orange; font-size:24px">
               		 Install the App</a>
                </div>
                
                <a href="itms-services://?action=download-manifest&url=http://127.0.0.1:8080/pushwin/views/iosapp/dev.plist"  style="color:orange; font-size:24px">
               		 Install the NJ App</a>
                </div>

</body>


</html>
