@charset "utf-8";
/*public_css*/
.fix:after,.ovh{overflow:hidden}
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 MicroSoft YaHei,sans-serif,Arial,Helvetica;}
button,h1,h2,h3,h4,h5,h6,input,select,textarea{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:couriernew,courier,monospace}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none}
[hidden]{display:none}
html{font-size:50px;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-size:0.24rem;}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ins{background:#ff9;color:#000;text-decoration:none}
mark{background:#ff0;color:#000;font-style:italic;font-weight:700}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:after,q:before{content:"";content:none}
small{font-size:85%}
dd{margin:0 0 0 40px}
nav ol,nav ul{list-style:none;list-style-image:none;margin:0;padding:0}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:0;margin:0;padding:0}
label{cursor:pointer}
legend{border:0;padding:0}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}
button,input{line-height:normal}
button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
input[type=checkbox],input[type=radio]{box-sizing:border-box}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
input:invalid,textarea:invalid{background-color:#f0dddd}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
ol,ul{list-style:none}
a{color:#464646; text-decoration:none;}
a:visited{color:#565656; }
a:hover{color:#565656;}
a:focus{outline:thin dotted}
a:active,a:hover{outline:0}
a,a:focus{outline:0}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
fieldset,img{border:0}
.m0{margin:0}
.m1{margin:1px}
.ml1{margin-left:1px}
.mt1{margin-top:1px}
.mr1{margin-right:1px}
.mb1{margin-bottom:1px}
.m2{margin:2px}
.ml2{margin-left:2px}
.mt2{margin-top:2px}
.mr2{margin-right:2px}
.mb2{margin-bottom:2px}
.m5{margin:5px}
.ml5{margin-left:5px}
.mt5{margin-top:5px}
.mr5{margin-right:5px}
.mb5{margin-bottom:5px}
.m10{margin:10px}
.ml10{margin-left:10px}
.mt10{margin-top:10px}
.mr10{margin-right:10px}
.mb10{margin-bottom:10px}
.m15{margin:15px}
.ml15{margin-left:15px}
.mt15{margin-top:15px}
.mr15{margin-right:15px}
.mb15{margin-bottom:15px}
.m20{margin:20px}
.ml20{margin-left:20px}
.mt20{margin-top:20px}
.mr20{margin-right:20px}
.mb20{margin-bottom:20px}
.ml25{margin-left:25px}
.p0{padding:0}
.p1{padding:1px}
.pl1{padding-left:1px}
.pt1{padding-top:1px}
.pr1{padding-right:1px}
.pb1{padding-bottom:1px}
.p2{padding:2px}
.pl2{padding-left:2px}
.pt2{padding-top:2px}
.pr2{padding-right:2px}
.pb2{padding-bottom:2px}
.p5{padding:5px}
.pl5{padding-left:5px}
.pt5{padding-top:5px}
.pr5{padding-right:5px}
.pb5{padding-bottom:5px}
.p10{padding:10px}
.pl10{padding-left:10px}
.pt10{padding-top:10px}
.pr10{padding-right:10px}
.pb10{padding-bottom:10px}
.p15{padding:15px}
.pl15{padding-left:15px}
.pt15{padding-top:15px}
.pr15{padding-right:15px}
.pb15{padding-bottom:15px}
.p20{padding:20px}
.pl20{padding-left:20px}
.pt20{padding-top:20px}
.pr20{padding-right:20px}
.pb20{padding-bottom:20px}
.ti2{text-indent:2em}
.f14{font-size:14px}
.f16{font-size:16px}
.f18{font-size:18px}
.f20{font-size:20px}
.mtb1{ margin:0px 1px;}
.mtbfzs{ margin-top:3%;}
.tc{text-align:center}
.floatleft{float:left}
.floatright{float:right}
.disblock{display:block}
.disnone{display:none}
.fix:after{display:block;content:"clear";height:0;clear:both;visibility:hidden}
.clear{clear:both}
.red{ color:#D92323;}
.red a{color:#D92323;}
.huise{ color:#A0A0A0;}
.huise a{ color:#A0A0A0;}
.bolder{ font-weight:bolder;}
.text-decthrough{ text-decoration:line-through;}
.text-left{ text-align:left;}
.text-center{ text-align:center;}
.text-right{ text-align:right;}
.heise{ color:#000;}
.bjred{ background:#D92323; color:#fff; padding:0px 1%;}
.ztsmall{ font-size:0.8em;}
.zt2b{ font-size:2em;}
.lh25{ line-height:25px;}
.underline{ text-decoration:underline;}
.ptbfz3{ padding-top:3%;}
/*user_customize*/
body{color:#464646; background:#F5F5F5;font-family:"MicroSoft YaHei"}
.img-responsive{display:inline-block;width:100%;height:auto}
.img-responsive.l_maxwid{ max-width:100%;}
