<%var path="/resource";%>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>优惠券</title>
<link type="text/css" rel="stylesheet"
	href="${path}/pc/member/css/common.css" />
<link type="text/css" rel="stylesheet"
	href="${path}/pc/member/css/style01.css" />
<link type="text/css" rel="stylesheet" href="${path}/ui-dialog.css" />
<link type="text/css" rel="stylesheet"
	href="${path}/pc/member/css/top-footer.css" />
<link type="text/css" rel="stylesheet"
	href="${path}/pc/member/css/pager2.css" />
<link type="text/css" rel="stylesheet"
	href="${path}/pc/member/css/jQuery.Validate.css" />
<link href="${path}/pc/member/css/default.css" rel="stylesheet" />
<script src="${path}/pc/member/js/OrderCenter/OrderList.js"></script>
<script src="${path}/pc/member/js/browsehistory/browsehistory.js"></script>
<script src="${path}/pc/member/js/jquery-1.8.2.min.js"></script>
<script src="${path}/pc/member/js/index.js"></script>
<script src="${path}/pc/member/js/jquery.validate.js"></script>
<script src="${path}/pc/member/js/pager2.js"></script>
<script src="${path}/pc/member/js/showdate.js"></script>
<script src="${path}/artTemplate.js"></script>
<script src="${path}/dialog-plus.js"></script>
<script src="${path}/dialogShow.js"></script>
<script src="${path}/jQueryRotate.2.2.js"></script>
<script src="/resource/pc/member/js/ZcZx/Coupon.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	 Coupon.getList(1,null,1,5);
})
</script>
</head>
<body>
<style>
.l_hszmk03.l_ysyfh {float: left;padding-top: 60px;width: 200px;}
.l_hszmk02{ width:440px;}
</style>
<div id="main" class="fix">
    <!--main-left 左边内容  开始 -->
       <% include("/template/pc/memberCenter/Shared/_PartialLeftside.html",{}){}%> 
    <!--main-left 左边内容  结束 -->
    <!--rightside 右边内容  结束 -->
    <div class="rightside">
        <!--l_jfno  begin -->
        <div class="l_jfno l_padbot">
            <h3>我的优惠券</h3>
            <div class="shenlan text-right"><a href="/member/pcarticles/showarticles?classfy=5">优惠券规则说明</a></div>
            <!--l_yhqnotop  begin -->
            <div>
                <div class="l_yhqnotop" id="div_title">
                    <select class="sel-most" id="select_coupontype" onchange="ChangeCouponType();">
                        <option value="1" >未使用</option>
                        <option value="2">已使用</option>
                        <option value="3">已过期</option>
                        <option value="4">回收站</option>
                    </select>
                    <span class="red"><a href="javascript:void(0);" class="a_order" order-val="1" onclick="Coupon.getList(1,0,1,5);">过期时间</a></span>
                    <span><a href="javascript:void(0);" class="a_order" order-val="2" onclick="Coupon.getList(1,1,1,5);">到账时间</a></span>
                    <span><a href="javascript:void(0);" class="a_order" order-val="3" onclick="Coupon.getList(1,2,1,5);">优惠金额</a></span>
                </div>
                <!--l_yhqnotop  stop -->
                <!--l_hszmk  begin -->
                <script type="text/html" id="couponlist">
                    {{each list as pro i}}
                    <div class="l_hszmk fix">
                        {{if pro.isuser==0 && pro.isdel==0 && pro.outtime>pro.newDate}}
                        <div class="l_hszmk01">
                            <div class="a_phsz1">￥{{pro.facevalue}}</div>
                            <div class="a_phsz2">【{{pro.couponname}}】</div>
                            <div class="a_phsz3">{{pro.gettime}}--{{pro.outtime}}</div>
                            <i></i>
                            <!--<div class="l_jjgq"></div>-->
                        </div>
                        <div class="l_hszmk02">
                            <ul>
                                <li>券  编  号：<span class="yscmh">{{pro.couponnum}}</span></li>
                                <li>品类限制：<span class="yscmh">限购 [{{if pro.shopname==null}}无{{else}}{{pro.shopname}}{{/if}}]...</span></li>
                                <li>平台限制：<span class="yscmh">全平台</span></li>
                            </ul>
                        </div>
                        <div class="l_hszmk03">
                            {{if pro.shopid>0}}
                            <a href="/web/shop/details.html?shopId={{pro.shopid}}"  class="l_ljsyhsz">立即使用</a>
                            {{else}}
                            <a href="/index" class="l_ljsyhsz">立即使用</a>
                            {{/if}}
                        </div>
                        <div class="l_gbyhq" id-val="{{pro.couponid}}" onclick="DelCoupon(this);"></div>
                        {{else if pro.isuser==1 && pro.isdel==0 }}
                        <div class="l_hszmk01 l_ysyfh">
                            <div class="a_phsz1">￥{{pro.facevalue}}</div>
                            <div class="a_phsz2">【{{pro.couponname}}】</div>
                            <div class="a_phsz3">{{pro.gettime}}--{{pro.outtime}}</div>
                            <i></i>
                        </div>
                        <div class="l_hszmk02">
                            <ul>
                                <li>券  编  号：<span class="yscmh">{{pro.couponnum}}</span></li>
                                <li>品类限制：<span class="yscmh">限购 [{{if pro.shopname==null}}无{{else}}{{pro.shopname}}{{/if}}]...</span></li>
                                <li>平台限制：<span class="yscmh">全平台</span></li>
                            </ul>
                        </div>
                        <div class="l_hszmk03 l_ysyfh">
                            <p>使用说明：<span class="yscmh">{{if pro.userdesc==null}}暂无{{else}}{{pro.userdesc}}{{/if}}</span></p>
                            <p>使用时间： {{pro.usetime}}</p>
                        </div>
                        <div class="l_ysyimg"></div>
                        {{else if pro.isdel==0 && pro.outtime<pro.newDate }}
                        <div class="l_hszmk01 huise">
                            <div class="a_phsz1">￥{{pro.facevalue}}</div>
                            <div class="a_phsz2">【{{pro.couponname}}】</div>
                            <div class="a_phsz3 huise">{{pro.gettime}}--{{pro.outtime}}</div>
                            <i></i>
                        </div>
                        <div class="l_hszmk02">
                            <ul>
                                <li>券  编  号：<span class="yscmh">{{pro.couponnum}}</span></li>
                                <li>品类限制：<span class="yscmh">限购 [{{if pro.shopname==null}}无{{else}}{{pro.shopname}}{{/if}}]...</span></li>
                                <li>平台限制：<span class="yscmh">全平台</span></li>
                            </ul>
                        </div>
                        <div class="l_hszmk03 huise">
                                                过期时间：{{pro.outtime}}
                        </div>
                        {{else if pro.isdel==1 }}
                        <div class="l_hszmk01">
                            <div class="a_phsz1">￥{{pro.facevalue}}</div>
                            <div class="a_phsz2">【{{pro.couponname}}】</div>
                            <div class="a_phsz3 huise">{{pro.gettime}}--{{pro.outtime}}</div>
                            <i></i>
                        </div>
                        <div class="l_hszmk02">
                            <ul>
                                <li>券  编  号：<span class="yscmh">{{pro.couponnum}}</span></li>
                                <li>品类限制：<span class="yscmh">限购 [{{if pro.shopname==null}}无{{else}}{{pro.shopname}}{{/if}}]...</span></li>
                                <li>平台限制：<span class="yscmh">全平台</span></li>
                            </ul>
                        </div>
                        <div class="l_hszmk03"><a href="javascript:void(0);" id-val="{{pro.couponid}}" onclick="RecoverCoupon(this);"><i style="margin-top:0px;"></i>恢复使用</a></div>
                        {{/if}}
                    </div>
                    {{/each}}
                </script>
                <!--l_hszmk  stop -->
            </div>
            <!--sppj_page  begin -->
            <div class="pager" id="pager">
            </div>
            <!--sppj_page  stop -->
        </div>
        <!--l_jfno  stop -->
        <!--l_like 猜你喜欢 开始 -->
       <% include("/template/pc/memberCenter/Common_M/M_GuessYouLike.html",{}){}%>
        <!--l_like 猜你喜欢 结束 -->
    </div>
    <!--rightside 右边内容  结束 -->
    <div class="clear"></div>
</div>
<!--main  主要内容  结束 -->
</body>

